# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml

# Envs
.venv/
env/
venv/

# Data & models
data/raw/
data/processed/
models/
reports/*
!reports/.gitkeep
!reports/random_forest_shap/
outputs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Kaggle
kaggle.json

